<div class="row marketing">
  <form>
    <div class="form-group">
      <label for="baseUrl">Base URL</label>
      <input type="text" class="form-control" id="baseUrl" placeholder="Base URL" ng-model="data.baseUrl">
    </div>
    <div class="form-group">
      <label for="bearerToken">JWT bearer token</label>
      <input type="text" class="form-control" id="bearerToken" placeholder="Bearer token" ng-model="data.bearerToken">
    </div>
    <div class="form-group">
      <label for="patientId">Patient ID (must exist)</label>
      <input type="text" class="form-control" id="patientId" placeholder="Patient identifier" ng-model="data.patientId">
    </div>
    <!--<div class="form-group">
      <button class="btn btn-block" ng-click="createPatient()">Create patient (if it doesn't already exist)</button>
    </div>-->
    <div class="form-group">
      <label for="deviceId">Device ID (must exist)</label>
      <input type="text" class="form-control" id="deviceId" placeholder="Device identifier" ng-model="data.deviceId">
    </div>
    <!--<div class="form-group">
      <button class="btn btn-block" ng-click="createDevice()">Create device (if it doesn't exist)</button>
    </div>-->
    <div class="form-group">
      <label for="fromDate">From date</label>
      <input type="date" class="form-control" id="fromDate" ng-model="data.fromDate">
    </div>

    <div class="form-group">
      <label form="dataType">Select data type</label>
      <select class="form-control" id="dataType" ng-model="data.type">
        <option>Blood pressure</option>
        <option>O2 saturation</option>
        <option>Pulse</option>
        <option>Weight</option>
      </select>
    </div>

    <div ng-show="data.type == 'Blood pressure'" class="form-group">
      <label for="Systolic">Systolic</label>
      <input type="number" class="form-control" id="Systolic" ng-model="data.systolic">
    </div>
    <div ng-show="data.type == 'Blood pressure'" class="form-group">
      <label for="Diastolic">Diastolic</label>
      <input type="number" class="form-control" id="Diastolic" ng-model="data.diastolic">
    </div>

    <div ng-show="data.type == 'Weight'" class="form-group">
      <label for="Weight">Weight (kg)</label>
      <input type="number" class="form-control" id="Weight" ng-model="data.weight">
    </div>
    <div class="form-group">

      <div ng-show="data.type == 'Pulse'" class="form-group">
        <label for="Pulse">Pulse (BPM)</label>
        <input type="number" class="form-control" id="Pulse" ng-model="data.pulse">
      </div>
      <div ng-show="data.type == 'O2 saturation'" class="form-group">
        <label for="saturation">Saturation %</label>
        <input type="number" class="form-control" id="saturation" ng-model="data.saturation">
      </div>

      <div ng-hide="data.type == null">

        <button type="button" class="btn btn-block" data-toggle="modal" data-target="#myModal" ng-click="viewTestData()">
          View example
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Example resource</h4>
              </div>
              <div class="modal-body">
                <pre>{{data.example | json}}</pre>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <p></p>


        <div class="form-group">
          <label for="howMany">The button below creates a series of values, starting from {{data.fromDate}}. How
            many instances should be created? </label>
          <input type="number" class="form-control" id="howMany" ng-model="data.howMany">
        </div>
        <div class="form-group">
          <label for="variation">How much variation in the values?</label>
          <input type="number" class="form-control" id="variation" ng-model="data.variation">
        </div>

        <div class="form-group">
          <button class="btn btn-block" ng-click="createTestData()">Create series of test data</button>
        </div>

        <div ng-hide="log.length == 0">
        <p>Log from server upload:</p>
        <pre>{{log | json}}</pre>
        </div>

      </div>

      <p><hr/></p>

      <h1>Create patients</h1>
      <div class="form-group">
        <label for="howMany">Create how many Patients</label>
        <input type="number" class="form-control" id="howMany" ng-model="data.howManyPatients">
      </div>

      <div class="form-group">
        <label for="startFrom">Start from number</label>
        <input type="number" class="form-control" id="startFrom" ng-model="data.startFrom">
      </div>

<!--
      <div class="form-group">
        <label for="observationsPerPatient">Observations per patient</label>
        <input type="number" class="form-control" id="observationsPerPatient" ng-model="data.observationsPerPatient">
      </div>
-->

        <div class="form-group">
          <button class="btn btn-block" ng-click="createTestPatients()">Create test patient</button>
        </div>

        <div class="form-group">
          Created: {{createdCount}}
        </div>
        <div class="form-group">
          Failed: {{createdFailed}}
        </div>
        <div class="form-group">
          Obs created: {{numberOfObservationsCreated}}
        </div>

        <div ng-hide="log.length == 0">
        <p>Log from server upload:</p>
        <pre>{{log | json}}</pre>
        </div>

      </div>
      <!--<pre>{{data | json}}</pre>-->

    </div>
